<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="../css/products.css" />
  </head>
  <body>
    <h1>Products</h1>
    <a href="/api">FORM PAGE</a>
    <br />
    <% if(!products.length) { %>
    <h3>No products</h3>
    <% } else { %>
    <br />
    <table>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Thumbnail</th>
      </tr>
      <% products.map(prod => { %>
      <tr>
        <td><%= prod.title %></td>
        <td>$ <%= prod.price %></td>
        <td><img src="<%= prod.thumbnail %>" alt="<%= prod.thumbnail %>" /></td>
      </tr>
      <% }) %>
    </table>
    <% } %>
  </body>
</html>
